# Numbers

In [1]:
2 + 1

3

In [2]:
2 * 3

6

In [5]:
2 ** 3 #This indicates 2 to the power of 3

8

In [6]:
2/3

0.6666666666666666

# Modulo or Mod Operator

In [7]:
 7 / 4

1.75

In [8]:
7 % 4

3

In [9]:
50 % 5

0

In [10]:
23 % 2

1

In [11]:
20 % 2

0

In [12]:
2 + 10 * 10 + 3

105

In [13]:
(2 + 10) * (10 + 3)

156

In [14]:
0.1 - 0.2 + 0.3

0.19999999999999998

In [17]:
0.1 + 0.2 - 0.3 #This is to do with floating point accuracy computer's abilities to represent numbers in memory

5.551115123125783e-17

In [18]:
1/2

0.5

# Variable Assignments

#Python is a dynamically typed language
#We can reassign variables to different data types

In [19]:
a = 10;

In [20]:
a

10

In [21]:
a = 20;

In [22]:
a

20

In [23]:
a = a  + a;

In [24]:
a

40

In [25]:
type(a)

int

In [26]:
b = 10.3;

In [27]:
b

10.3

In [28]:
type(b)

float

In [32]:
my_income = 100;
my_tax = 0.1;
my_total_tax = my_income * my_tax;
print("My Total tax is: ",my_total_tax);

My Total tax is:  10.0

# Strings

In [33]:
"This is hello world!"

'This is hello world!'

In [34]:
'This is hello world!'

'This is hello world!'

In [35]:
'I'm going to write python code

SyntaxError: invalid syntax (<ipython-input-35-a7f732fbb64b>, line 1)

In [36]:
"I'm going to write python code"

"I'm going to write python code"

In [38]:
my_name = "Sutheendran"

print("What is your name?",my_name)

What is your name? Sutheendran

In [42]:
my_name = input("What is your name? ")

What is your name? Sutheendran

In [44]:
print("Hello \nworld!");

Hello
world!

In [45]:
print("Hello \tWorld!")

Hello 	World!

In [46]:
len(my_name)

11

In [48]:
len("Hello")

5

In [49]:
len("I am")

4

# String Slicing and Indexing

In [50]:
mystring = "Hello World"

In [51]:
mystring[2]

'l'

In [52]:
mystring[5]

' '

In [53]:
mystring[7]

'o'

In [55]:
mystring[-1] #negative indexing

'd'

In [56]:
mystring[:7] #start and stop of the string

'Hello W'

In [57]:
mystring[::]

'Hello World'

In [58]:
mystring[::2] #We can also define the step size

'HloWrd'

In [60]:
mystring[::-1] #simple way of reversing string in python

'dlroW olleH'

In [62]:
mystring[2:9:2]

'loWr'

# Immutability

Strings are not mutable! (meaning you can't use indexing to change individual elements of a string)

In [63]:
name = "Sam";

In [64]:
name

'Sam'

In [66]:
name[0] = 'P' # it will throw an error because strings are immutable

TypeError: 'str' object does not support item assignment

In [67]:
# we can use string concatenation

last_letters = name[1:];
'P' + last_letters

'Pam'

In [68]:
x = "Hello";

In [70]:
x + " it is beautiful outside"

'Hello it is beautiful outside'

In [71]:
x = "Hello world"

In [72]:
x.upper()

'HELLO WORLD'

In [73]:
x.lower()

'hello world'

In [74]:
x.split()

['Hello', 'world']

In [75]:
x.split('l')

['He', '', 'o wor', 'd']

# Print Formatting with Strings

In [76]:
print("The {} {} {}".format("fox","brown","quick"));

The fox brown quick

In [77]:
print("The {2} {1} {0}".format("fox","brown","quick"));

The quick brown fox

In [78]:
print("The {q} {b} {f}".format(f="fox",b="brown",q="quick"));

The quick brown fox

In [79]:
result = 100/777;
result

0.1287001287001287

In [80]:
print("The result is {}".format(result));

The result is 0.1287001287001287

In [81]:
print("The result is {r}".format(r=result));

The result is 0.1287001287001287

In [82]:
print("The result is {r:1.3f}".format(r=result));

The result is 0.129

In [84]:
name = "Sutheendran";
age = 24;
print(f"My name is {name} and I am {age} years old");

My name is Sutheendran and I am 24 years old

# Lists

In [85]:
new_list = [0,1,2,3]

In [86]:
new_list

[0, 1, 2, 3]

In [88]:
new_list1 = ["One",2,10.225];
new_list1

['One', 2, 10.225]

In [89]:
new_list = ["one", "two", "three", "four"]

In [90]:
new_list

['one', 'two', 'three', 'four']

In [91]:
new_list[0]

'one'

In [92]:
new_list[0] = "ONE IN ALL CAPS"

In [93]:
new_list

['ONE IN ALL CAPS', 'two', 'three', 'four']

In [94]:
new_list[1:]

['two', 'three', 'four']

In [95]:
new_list

['ONE IN ALL CAPS', 'two', 'three', 'four']

In [96]:
another_list = ["five", "six", "seven"]

In [97]:
another_list

['five', 'six', 'seven']

In [98]:
new_list + another_list

['ONE IN ALL CAPS', 'two', 'three', 'four', 'five', 'six', 'seven']

In [99]:
added_list = new_list + another_list

In [100]:
added_list

['ONE IN ALL CAPS', 'two', 'three', 'four', 'five', 'six', 'seven']

In [101]:
added_list.append("eight")

In [102]:
added_list

['ONE IN ALL CAPS', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [103]:
added_list.pop()

'eight'

In [104]:
added_list.pop(0)

'ONE IN ALL CAPS'

In [105]:
added_list

['two', 'three', 'four', 'five', 'six', 'seven']

In [106]:
num_list = [0,4,8,2,3,6]

In [107]:
num_list

[0, 4, 8, 2, 3, 6]

In [108]:
num_list.sort()

In [109]:
num_list

[0, 2, 3, 4, 6, 8]

In [110]:
sorted_list = num_list.sort()

In [111]:
sorted_list

In [112]:
type(sorted_list)

NoneType

In [113]:
num_list = [0,2,1,3,8,5]

In [114]:
num_list

[0, 2, 1, 3, 8, 5]

In [115]:
num_list.sort()

In [116]:
sorted_list = num_list

In [117]:
sorted_list

[0, 1, 2, 3, 5, 8]

In [118]:
sorted_list.reverse()

In [120]:
sorted_list

[8, 5, 3, 2, 1, 0]

In [121]:
num_list

[8, 5, 3, 2, 1, 0]

In [124]:
num_list[0] = '7'

In [125]:
num_list

['7', 5, 3, 2, 1, 0]

In [126]:
my_name = "Sam"

In [127]:
my_name[0] = 'P'

TypeError: 'str' object does not support item assignment

# Dictionaries

In [128]:
my_dict = {'key1':'value1','key2':'value2','key3':'value3'}

In [129]:
my_dict

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [130]:
gross_price = {'apple':20,'mango':50,'orange':80}

In [131]:
gross_price['mango']

50

In [132]:
gross_price

{'apple': 20, 'mango': 50, 'orange': 80}

In [133]:
gross_price.values()

dict_values([20, 50, 80])

In [134]:
gross_price.keys()

dict_keys(['apple', 'mango', 'orange'])

In [135]:
price_dict = {'k1':'apple','k2':[0,1,2],'k3':{'apple':30}}

In [136]:
price_dict

{'k1': 'apple', 'k2': [0, 1, 2], 'k3': {'apple': 30}}

In [138]:
price_dict['k1']

'apple'

In [139]:
price_dict['k2'][1]

1

In [141]:
price_dict['k3']['apple']

30

In [142]:
price_dict

{'k1': 'apple', 'k2': [0, 1, 2], 'k3': {'apple': 30}}

In [143]:
price_dict['k1'] = 'orange'

In [145]:
price_dict

{'k1': 'orange', 'k2': [0, 1, 2], 'k3': {'apple': 30}}

In [146]:
len(price_dict)

3

# Tuples

In [147]:
t = (0,5,6,2)

In [148]:
my_list = [1,4,5,6]

In [149]:
t

(0, 5, 6, 2)

In [150]:
my_list

[1, 4, 5, 6]

In [151]:
t[2]

6

In [152]:
t[-1]

2

In [153]:
tup = ('a','a','b','d')

In [154]:
tup

('a', 'a', 'b', 'd')

In [155]:
tup.count('a')

2

In [156]:
tup.index('d')

3

In [157]:
my_list

[1, 4, 5, 6]

In [158]:
my_list[0] = "NEW"

In [159]:
my_list

['NEW', 4, 5, 6]

In [160]:
tup

('a', 'a', 'b', 'd')

In [161]:
tup[0]

'a'

In [162]:
tup[0] = 'c'

TypeError: 'tuple' object does not support item assignment

# Sets

In [163]:
myset = set()

In [164]:
myset

set()

In [165]:
myset.add(2)

In [166]:
myset

{2}

In [168]:
myset.add(1)

In [169]:
myset

{1, 2}

In [170]:
myset.add(2)

In [171]:
myset

{1, 2}

In [172]:
mylist = [1,1,1,2,2,3,4,5,5,6,6]

In [173]:
set(mylist)

{1, 2, 3, 4, 5, 6}

# Python Methods and Functions

In [1]:
def print_hello():
    print("Hello how are you?");

In [2]:
print_hello()

Hello how are you?

In [3]:
def add_num(a,b):
    print(10+20);

def return_num(a,b):
    return a+b;

In [4]:
add_num(10,20) #this is a print statement
return_num(20,30) #this is an output

30

50

In [5]:
result = return_num(10,20)

In [6]:
result

30