# Python Control Statements

### if, else, if-elif

In [2]:
#if condition:
#    statement1
#elif conditions:
#    statement2
#else:
#    statement3

In [3]:
if True:
    print("Hello!")
else:
    print("False")

Hello!

In [4]:
loc = "Bank"

if (loc == "Shop"):
    print("It is a Shop")
elif (loc == "Bank"):
    print("Money is available in Bank")
else:
    print("Sorry no data available for your search")

Money is available in Bank

In [7]:
name = "John"
age = 18

if(name == "Smith"):
    if(age >= 18):
        print(f"{name} is eligible for licence")
    else:
        print(f"{name} is not old enough to get license")
elif(name == "John"):
    if(age >= 18):
        print(f"{name} is eligible for licence")
    else:
        print(f"{name} is not old enough to get license")
else:
    print(f"Sorry no data available in the {name}")

John is eligible for licence

### For Loops

In [12]:
my_list = [1,5,3,6]

for items in my_list:
    print(f"The items are: {items}")

The items are: 1
The items are: 5
The items are: 3
The items are: 6

In [13]:
for items in my_list:
    print("Hello")

Hello
Hello
Hello
Hello

In [16]:
my_list1 = [1,2,3,4,5,6,7,8,9,10]

for num in my_list1:
    if(num%2 == 0):
        print(f"{num} is an Even Number")
    else:
        print(f"{num} is Odd Number")

1 is Odd Number
2 is an Even Number
3 is Odd Number
4 is an Even Number
5 is Odd Number
6 is an Even Number
7 is Odd Number
8 is an Even Number
9 is Odd Number
10 is an Even Number

In [18]:
list_sum = 0

for sum in my_list1:
    list_sum = list_sum + sum

print(list_sum)

55

In [19]:
my_string = "Hello World!"

for letter in my_string:
    print(letter)

H
e
l
l
o

W
o
r
l
d
!

In [20]:
for _ in my_string: #if we are not using iterable object then we can use "_"
    print("Hello")

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [21]:
tup = (1,2,3)

for items in tup:
    print(items)

1
2
3

In [22]:
my_tup = [(1,2), (3,4), (5,6)]

for items in my_tup:
    print(items)

(1, 2)
(3, 4)
(5, 6)

In [23]:
for (a,b) in my_tup:
    print(a , b)

1 2
3 4
5 6

In [24]:
my_dict = {"k1": 1, "k2": 2, "k3": 3}

for items in my_dict.items():
    print(items)

('k1', 1)
('k2', 2)
('k3', 3)

In [27]:
for (key,value) in my_dict.items():
    print(key)
    print(value)

k1
1
k2
2
k3
3

# While Loops

In [29]:
x = 0

while (x < 5):
    print(x)
    x = x+1
    #x += 1

0
1
2
3
4

In [31]:
x = 0
while (x < 3):
    print(x)
    x+=1
print("Loops ended")

0
1
2
Loops ended

In [33]:
x = [1,2,3]

for item in x:
    pass # this can be used as a placeholder
print("End of Loop")

End of Loop

In [35]:
my_string= "John"

for letter in my_string:
    if(letter == "o"):
        continue
    print(letter)

J
h
n

In [37]:
for letter in my_string:
    if(letter == "h"):
        break
    print(letter)

J
o

# Useful Operators

In [38]:
my_list = [1,2,3]

for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [39]:
for i in range(2,10):
    print(i)

2
3
4
5
6
7
8
9

In [41]:
for i in range(0, 10, 2):
    print(i)

0
2
4
6
8

In [43]:
index_count = 0

for letter in "abcde":
    print("At index {} the letter is {}".format(index_count, letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [44]:
word = 'abcde'

for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [45]:
my_list1 = [1,2,3,4,5]

my_list2 = ["a", "b", "c"]

for item in zip(my_list1, my_list2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [47]:
my_list1 = [1,2,3,4,5]
my_list2 = ["a", "b", "c"]
my_list3 = [100, 200, 300]

for item in zip(my_list1, my_list2, my_list3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [48]:
my_list1 = [1,2,3,4,5,6]
my_list2 = ["a", "b", "c", "f"]
my_list3 = [100, 200, 300]

for item in zip(my_list1, my_list2, my_list3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [49]:
from random import shuffle

my_list = [1,2,4,5,8,9,3]
random_list = shuffle(my_list)

In [50]:
random_list

In [51]:
type(random_list)

NoneType

In [54]:
my_list

[2, 8, 4, 3, 1, 9, 5]

In [55]:
from random import randint

randint(0, 100)

10

In [56]:
input("Enter a number:")

Enter a number:10

'10'

In [57]:
result = input("Enter your favourite number")

Enter your favourite number10

In [58]:
result

'10'

In [59]:
type(result)

str

In [60]:
int(result)

10

In [61]:
type(result)

str

# List comprehensions

In [64]:
my_string = "Hello"
my_list = []

for letter in my_string:
    my_list.append(letter)

In [65]:
my_list

['H', 'e', 'l', 'l', 'o']

In [66]:
my_list = [letter for letter in my_string]

In [67]:
my_list

['H', 'e', 'l', 'l', 'o']

In [70]:
my_list = [num ** 2 for num in range(0,11)]

In [71]:
my_list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]